<!-- footer.component.html -->
<footer class="footer mt-6">
  <div class="text-center text-gray-600">
    <p>&copy; 2023 Muraai. All rights reserved.</p>
  </div>
  <div class="social-icons">
    <a href="https://www.linkedin.com/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/" target="_blank" class="social-icon"><i class="fab fa-facebook"></i></a>
    <a href="https://www.snapchat.com/" target="_blank" class="social-icon"><i class="fab fa-snapchat"></i></a>
    <a href="https://www.instagram.com/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="mt-2 text-right">
    <p class="text-gray-600 px-6 text-sm">{{ getCurrentDateTime() }}</p>
  </div>
  <!-- <div class="mt-2 text-left">
    <p class="text-gray-600 px-6 text-sm">Contact :</p>
    <p class="text-gray-600 px-6 text-sm"> Muraai Information Technologies Pvt. Ltd.</p>
    <p class="text-gray-600 px-6 text-sm"> Site No. 519, 2nd Floor, 24th Main, 2nd Sector,
      HSR Layout, Bangalore - 560102.</p>
      
      <p class="text-gray-600 px-6 text-sm"> contactus@muraai.com</p>
      <p class="text-gray-600 px-6 text-sm">Tel: +91 98801 36000</p>"
  </div> -->
</footer>
