/* Style for the container */
.container-fluid {
    padding : 30px;
    background-color: #f0f0f0;
  }
  
  /* Style for the form title */
  h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style for form labels */
  .form-group label {
    font-weight: bold;
    color: #333;
  }
  
  /* Style for text input fields */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
  }
  
  /* Style for the select dropdown */
  .custom-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
  }
  
  /* Style for radio buttons and checkboxes */
  .form-check-input {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  /* Style for the submit button */
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .red-border {
    border: 1px solid red;
  }

  .spacer {
    flex: 1;
  }

  .login-button {
    margin-right: 8px; 
  }

  .flex-spacer {
    flex: 1;
    text-align: center;
  }


  /* Header */
.header-title {
  font-size: 24px;
  font-weight: bold;
}

.spacer {
  flex: 1;
}

.nav-links {
  display: flex;
  align-items: center;
}

.pipe {
  margin: 0 8px;
}

.action-buttons {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

/* Main Content */
.main-content {
  padding: 16px;
}

/* your-component.css or styles.css */
.mat-toolbar {
  min-height: 64px; /* Default height for smaller screens */

  @media (min-width: 768px) {
    min-height: 80px; /* Increase height for larger screens */
  }
}


