<mat-toolbar color="primary" class="flex items-center justify-between p-4">
  <span class="text-2xl text-white">{{ title }}</span>
  <div class="nav-links flex space-x-4">
    <a routerLink="/home" routerLinkActive="active" class="text-white">Home</a>
    <span class="text-white">|</span>
    <a routerLink="/courses" routerLinkActive="active" class="text-white">Courses</a>
    <span class="text-white">|</span>
    <a routerLink="/enrollment" routerLinkActive="active" (click)="alrMsg()" class="text-white">Enroll</a>
    <!-- <span class="text-white">|</span>
    <a routerLink="/mattable" routerLinkActive="active" class="text-white">Data</a> -->
    <span class="text-white">|</span>
    <a routerLink="/sequelizedemoform" routerLinkActive="active" class="text-white">Users</a>
    <span class="text-white">|</span>
    <!-- <a routerLink="online-events" routerLinkActive="active" class="text-white">Online Events</a>
    <span class="text-white">|</span> -->
    <a routerLink="blog" routerLinkActive="active" class="text-white">Blog</a>
  </div>
  <div class="action-buttons flex items-center">
    <a routerLink="/login" routerLinkActive="active" class="mr-2">
      <button *ngIf="!isUserLoggedIn" mat-raised-button color="primary" class="login-button" (click)="loginWithKeycloak()">
        Login
      </button>
    </a>
    <button *ngIf="isUserLoggedIn" mat-raised-button color="primary" class="login-button" (click)="logoutWithKeycloak()">
      Logout
    </button>
  </div>
</mat-toolbar>

<div class="flex items-center justify-center" *ngIf="user && user.username">
  <span class="font-bold text-lg mr-2">Logged in as:</span>
  <span class="text-green-600 font-bold text-lg">{{ user.username }}</span>
</div>

<div class="main-content mt-6">
  <router-outlet></router-outlet>
</div>


<app-footer></app-footer>

