<mat-toolbar color="primary">
  <span class="header-title">{{ title }}</span>
  <span class="spacer"></span>
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <span class="pipe">|</span>
    <a routerLink="/courses" routerLinkActive="active">Courses</a>
    <span class="pipe">|</span>
    <!-- <ng-container *ngIf="isLoggedIn(); else disabledLink"> -->
      <a routerLink="/enrollment" routerLinkActive="active" (click)="alrMsg()">Enroll</a>
    <!-- </ng-container> -->
  
    <!-- <ng-template #disabledLink>
      <span>
        Enroll
      </span>
    </ng-template> -->
    <span class="pipe">|</span>
    <a routerLink="/mattable" routerLinkActive="active">Data</a>
  </div>
  <span class="spacer"></span>
  <div class="action-buttons">
    <a routerLink="/login" routerLinkActive="active">
      <button mat-raised-button color="primary" class="login-button" (click)="loginWithKeycloak()">
        Login
      </button>
    </a>
    <button mat-raised-button color="primary" class="login-button" (click)="logoutWithKeycloak()">
      Logout
    </button>
  </div>
</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
