<h1 mat-dialog-title style="font-size: 1.25rem; font-weight: bold; margin-bottom: 1rem;">Confirmation</h1>
<div mat-dialog-content style="padding: 1rem; ">
  <p style="color: #333; font-size: 0.875rem;">{{ data }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" style="background-color: #007BFF; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 9999px; margin: 0 0.5rem;">Confirm</button>
  <button mat-button [mat-dialog-close]="false" style="background-color: #DC3545; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 9999px; margin: 0 0.5rem;">Cancel</button>
</div>
