<style>
  .home-container {
    text-align: center;
    padding: 20px;
    /* background-image: url('assets/images/enroll1.PNG'); */
    background-size: cover;
    background-position: center;
  }

  h1 {
    color: #333;
    font-size: 28px;
  }

  p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .enroll-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .enroll-button:hover {
    background-color: #2980b9;
  }

  a.router-link {
    color: blue;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
</style>

<div class="home-container">
  <h1>Welcome to Course Enrollment</h1>
  <p>Explore our courses and enroll to get started on your learning journey.</p>
  <a routerLink="/courses" class="enroll-button">Explore Courses</a>

  <br>
  <br>

  <a routerLink="/qrcode" class="router-link">Click Here To Visit Website!!</a>
</div>

<p class="bg-white h-64"></p>
